<!DOCTYPE html>
<html>
<body>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<h1>Welcome</h1>
<p>Current date and time: {{ current_datetime }}</p>  
    <form action="{{ url_for('user_greet') }}" method="get">  
        <button type="submit">GO</button>  
    </form>  

<!---<button id="goAhead">GO</button>

<script>
  // Get the button element
  var goAhead = document.getElementById("goAhead");

  // Function to redirect to the user_greet route when the button is clicked
  goAhead.addEventListener("click", function() {
    window.location.href = "/user_greet";
  });
</script>--->

</body>
</html>
